[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg = {extras = ["binary", "pool"], version = "*"}
djangorestframework = "*"
python-dotenv = "*"
djoser = "*"
django-cors-headers = "*"
django-extensions = "*"
rest-framework-generic-relations = "*"
django-filter = "*"
factory-boy = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = {extras = ["brotli"], version = "*"}
django-graphql-jwt = "*"
google-cloud-storage = "*"
google-api-python-client = "*"
oauth2client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
algoliasearch-django = ">=2.0,<3.0"
django-debug-toolbar = "*"
django-graphiql-debug-toolbar = "*"
strawberry-django-plus = "*"
google-auth = "*"
strawberry-django-auth = "*"
strawberry-graphql = {extras = ["debug-server"], version = "*"}

[dev-packages]
black = "*"

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = true
