[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
python-dotenv = "*"
djoser = "*"
django-cors-headers = "*"
django-extensions = "*"
rest-framework-generic-relations = "*"
graphene = "==3.0" # pinned due to https://github.com/graphql-python/graphene-django/pull/1320 can remove this line once fixed
graphql-core = "==3.1.7" # pinned due to https://github.com/graphql-python/graphene-django/pull/1320 can remove this line once fixed
graphql-relay = "==3.1.5" # pinned due to https://github.com/graphql-python/graphene-django/pull/1320 can remove this line once fixed
graphene-django = "*"
django-filter = "*"
factory-boy = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = {extras = ["brotli"], version = "*"}
django-graphql-jwt = "*"
google-cloud-storage = "*"
google-api-python-client = "*"
oauth2client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
algoliasearch-django = ">=2.0,<3.0"

[dev-packages]
black = "*"

[requires]
python_version = "3.10.2"

[pipenv]
allow_prereleases = true
